:root {
  --color-bg-dark: #252525;
  --color-bg-light: #F8F8F8;
  --line-height: 2;
}

// 选中文本
::selection {
  background-color: var(--td-brand-color);
  color: #FFF;
}

// 滚动条
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #DFDFDF;

  &:hover {
    background-color: #CCCCCC;
  }
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: var(--color-bg-light);
  color: #252525;
  font-family: 'HarmonyOS Sans SC', 'Noto Sans CJK', 'Noto Sans SC', 'Source Han Sans', sans-serif;
  font-size: 20px;
  line-height: 1;
}

#app {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  > div {
    width: 100%;
  }
}
